# 1. 변수
* 영문 문자와 숫자를 사용할수 있습니다.
* 대소문자를 구분합니다.
* 문자부터 시작해야 하며 숫자로 시작하면 안됨
* _(under_bar)로 시작할수 있음
* 특수문자(+, -, *, $..)은 변수로 사용할 수 없음
* 파이썬 예약어(if, for, while, and, or)등은  변수이름으로 사용할 수 없음

In [ ]:
a2 = 3

In [ ]:
print(a2)

3

In [ ]:
a = 5
A = 6
print(a)
print(A)

5
6

In [ ]:
_ = 7
print(_)

7

a를 출력하는 코드다

In [ ]:
a =  8 # a를 변수에 넣어준다 
# a를 출력해주는 코드다
print(a)
# print(A) # ctrl + / 단축키

8

In [ ]:
# 예약어는 변수로 사용할수 없음
if = 1
print(if)

SyntaxError: ignored

In [ ]:
print = 1
print(print)

TypeError: ignored

In [ ]:
import keyword
python_keyword = keyword.kwlist
print(python_keyword)
len(python_keyword)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [1]:
# id 는 주소값을 나타내는 함수
var1 = "Hello python"
print(var1)
print(id(var1))

Hello python
139850674155376

In [2]:
var1 = 100
print(var1)
print(id(var1))

100
9796256

In [3]:
var2 = 150.25
print(var2)
print(id(var2))

150.25
139850645215472

* print() 함수의 다양한 사용

In [4]:
# 출력 print(value1, value2...)
print('Hello world')
print('Hello', 'world')

Hello world
Hello world

In [10]:
print('홍길동', '김철수', sep=',')

홍길동,김철수

In [14]:
print('1+1=', 1+1)
print('1+1', 1+1, sep='=')

1+1= 2
1+1=2

In [23]:
food = "python's favorate food is perl"
# food1 = 'python's favorate food is perl'
food2 = 'python\'s favorate food is perl'
print(food)
# print(food1)
print(food2)

python's favorate food is perl
python's favorate food is perl

In [24]:
say = 'python is very easy. he says'
say1 = '"python is very easy". he says'
say2 = '\'python is very easy\'. he says'
say3 = "\"python is very easy\". he says"
print(say)
print(say1)
print(say2)
print(say3)

python is very easy. he says
"python is very easy". he says
'python is very easy'. he says
"python is very easy". he says

In [26]:
# type()
var3 = "Hello python"
print(var3)
print(type(var3))
# str = string = 문자열

Hello python
<class 'str'>

In [29]:
var4 = 100
print(var4)
print(type(var4)) #int = integer = 정수

100
<class 'int'>

In [30]:
var5 = 150.3
print(var5)
print(type(var5)) #float = 실수

150.3
<class 'float'>

In [33]:
var6 = True
print(var6)
print(type(var6)) #boolean = 참 또는 거짓

True
<class 'bool'>

In [32]:
var6 = False
print(var6)
print(type(var6))

False
<class 'bool'>

자료형 변환

In [35]:
a = int(10.9)
print(a)
print(type(a))

10
<class 'int'>

In [36]:
b = float(20)
print(b)
print(type(b))

20.0
<class 'float'>

In [38]:
print(type(True))
print(int(True))

<class 'bool'>
1

In [40]:
print(type(True))
print(int(True))
print(int(False))

<class 'bool'>
1
0

In [42]:
st = "10"
print(type(st))
print(int(st))

<class 'str'>
10

In [46]:
st1 = '10.5' #2번 형변환은 안됨
print(type(st1))
st2 = float(st1)
print(int(st2))

<class 'str'>
10

In [49]:
c = 100.22
print(type(str(c)))

<class 'str'>

# 연산자

In [68]:
''' 연산자(operator)
1. 산술연산자
2. 관계연산자
3. 논리연산자
4. 대입연산자
'''

' 연산자(operator)\n1. 산술연산자\n2. 관계연산자\n3. 논리연산자\n4. 대입연산자\n'

In [69]:
a = ''' 연산자(operator)
1. 산술연산자
2. 관계연산자
3. 논리연산자
4. 대입연산자
'''
print(a)

 연산자(operator)
1. 산술연산자
2. 관계연산자
3. 논리연산자
4. 대입연산자

In [57]:
#1.산술연산자
num1 = 100
num2 = 20
add1 = num1 + num2
print(add1)
print(type(add1))

120
<class 'int'>

In [53]:
sub = num1 - num2
print(sub)

80

In [54]:
mul = num1 * num2
print(mul)

2000

In [59]:
div1 = num1 / num2 #몫을 실수로 반환
print(div1)

5.0

In [60]:
div2 = num1 // num2 # 몫을 정수만 반환
print(div2)

5

In [62]:
num3 = 7
num4 = 4
div3 = num3 % num4 #나머지
print(div3)

3

In [65]:
sq = num4 ** 3
sq2 = num3 ** 2
print(sq)
print(sq2)

64
49

# 관계연산자

In [66]:
# (1) 동등비교
bool_result = num1 == num2
print(bool_result)

False

In [67]:
bool_result2 = num1 != num2
print(bool_result2)

True

In [ ]:
#(2)크기비교
num1 = 100
num2 = 20
bool_result3 = num1 > num2
print(bool_result3)

In [ ]:
# 5. 시가총액 298조 , 현재가 50,000, per 15.79 을 변수에 넣어서 타입을 찍어보기

In [70]:
시가총액 = 298000000000000
현재가 = 50000
per = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [73]:
# 6. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

# 논리연산자

In [75]:
num1 = 100
num2 = 20
log_result = num1 >= 50 and num2 <= 10 # 참 거짓
print(log_result)

False

In [77]:
log_result2 = num1 <= 50 and num2 >= 10 # 거짓 참
print(log_result2)

False

In [79]:
log_result3 = num1 >= 50 and num2 >= 10 # 참 and 참
print(log_result3)

True

In [80]:
log_result4 = num1 <= 50 and num2 <= 10 # 거짓 and 거짓
print(log_result4)

False

In [81]:
# or 조건
num1 = 100
num2 = 20
log_result5 = num1 >= 50 or num2 <= 10 # 참 or 거짓
print(log_result5)

True

In [82]:
log_result6 = num1 <= 50 or num2 >= 10 # 거짓 참
print(log_result6)

True

In [83]:
log_result7 = num1 >= 50 or num2 >= 10 # 참 and 참
print(log_result7)

True

In [84]:
log_result8 = num1 <= 50 or num2 <= 10 # 거짓 and 거짓
print(log_result8)

False

In [87]:
log_result9 = not(num1 >= 50)
print(log_result9)

False

# 대입연산자

In [88]:
# 1)변수에 값을 할당(=)
i = tot = 10
print(i, tot)

10 10

In [91]:
i = i + 1 
print(i)

11

In [92]:
i += 1
print(i)

12

In [93]:
tot += i # tot = tot + i 
print(tot) #22

22

In [94]:
v1, v2 = 100, 200
print(v1)
print(v2)

100
200

In [95]:
v1, v2 = v2, v1
print(v1) # 200
print(v2) # 100

200
100

In [108]:
x = y = z = 10
print(x, y, z)

10 10 10

In [103]:
del z  # delete

In [106]:
print(x, y)

10 10

In [107]:
print(z)

NameError: ignored

# 표준입력장치

In [109]:
num = input() #표준입력장치는 문자로 형변환

100

In [110]:
print(num)

100

In [111]:
print(type(num))

<class 'str'>

In [114]:
a = int(num)

In [116]:
print(type(a))
print(a)

<class 'int'>
100

In [117]:
num2 = int(input())
print(type(num2))
print(num2)

100
<class 'int'>
100

In [118]:
num3 = float(input())
print(type(num3))
print(num3)

2
<class 'float'>
2.0

In [126]:
num4 = int(float(input()))
print(type(num4))
print(num4)

11.111
<class 'int'>
11

In [123]:
num5 = '10.235'
num5 = float(num5)
num6 = int(num5)
print(type(num6))
print(num6)

<class 'int'>
10

In [128]:
num7 = int(input("정수만 입력하세요 : "))
print(type(num7))
print(num7)

정수만 입력하세요 : ㅁㄴㅇㅁㄴㅇ

ValueError: ignored

In [129]:
n1 = int(input("정수만:"))
n2 = int(input("정수만:"))
print(n1+n2)

정수만:5
정수만:3
8

# 표준출력장치

In [130]:
# format(value, '양식')
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

# format과 양식문자

In [ ]:
'''
%양식문자
%s : 문자열
%c : 한개문자
%d : 정수
%f : 실수
%o : 8진수
%x : 16진수
%% : %출력
'''

In [131]:
print('원주율 = ', 3.14159)

원주율 =  3.14159

In [135]:
print('원주율 = ', format(3.14159, "8.2f")) # format(value, '양식')

원주율 =      3.14

In [145]:
x = 3.14159
print(f'원주율 = {x:8.2f}')

원주율 =     3.14

In [180]:
print('금액 = ', format(10000, "1,d"))

금액 =  10,000

In [148]:
print(f'금액 = {10000:10,}')

금액 =     10,000

In [137]:
print('금액 = ', format(1000000000000000, "3,d"))

금액 =  1,000,000,000,000,000

In [141]:
# 3)외부상수받기
name = '홍길동'
age = 25
tall = 175.456
print('이름 : %s, 나이: %d, data = %.2f'%(age, age, tall))

이름 : 25, 나이: 25, data = 175.46

In [142]:
print('이름:{}, 나이:{}, data{}'.format(age, age, tall))

이름:25, 나이:25, data175.456

In [ ]:
#축약형 f-string
print(f'이름:{name}, 나이:{age}, data : {tall}')

참고사항

In [ ]:
# 변수를 만들때 3가지 방법
# camel표기법, snake표기법, pascal표기법
camelCase = 1
snake_case = 1
PascalCase = 1

# 문자열

In [150]:
multiline = "Life is too short \n You need python"
print(multiline)

Life is too short
 You need python

In [153]:
multiline2 = ''' 
여러줄의 
문장을
한번에 포함 시킬수 있음
'''
print(multiline2)

여러줄의
문장을
한번에 포함 시킬수 있음

In [154]:
head = 'python'
tail = '    is fun!'
print(head + tail)

python    is fun!

In [157]:
head = 'python'
tail = '    is fun!'
print(head * 3)

pythonpythonpython

In [ ]:
a = "Life is too short, You need python"
a[3]

In [ ]:
a[12]

In [ ]:
a[-1]

In [162]:
a[-5]

'y'

In [163]:
a = "Life is too short, You need python"
print(a[5:-1])
print(a[5:-1:2])

is too short, You need pytho
i o hr,Yune yh

In [166]:
a[0:4] # n-1

'Life'

In [ ]:
# a[처음:끝번호(n-1):간격]

In [ ]:
a[-50]

In [172]:
a = '20230307Rainy'
date = a[0:8]
weather = a[8:-1]
print(date)
print(weather)

20230307
Rain

In [ ]:
date = a[:8]
weather = a[8:]
print(date)
print(weather)

In [183]:
# 음수만 슬라이싱
b = 'Hello world'

In [ ]:
print(b[:5])
print(b[6:])

In [ ]:
print(b[-11:-6])
print(b[-5: ])

In [188]:
#역순으로 
print(b[::-1])

dlrow olleH

In [189]:
a = 'hobby'
a.count('b')

2

In [190]:
a = 'Python is best program'
a.find('b')

10

In [191]:
a.find('k')

-1

In [192]:
a.index('b')

10

In [193]:
a.index('k')

ValueError: ignored

In [196]:
' '.join('abcdefg')

'a b c d e f g'

In [197]:
g = ','
g.join('abcedf')

'a,b,c,e,d,f'

In [198]:
a = 'Python is best program'
a.upper()

'PYTHON IS BEST PROGRAM'

In [199]:
a.lower()

'python is best program'

In [203]:
a = "    Hi       "
a.strip()

'Hi'

In [206]:
a = 'Java is best program'
a.replace('Java', 'Python')

'Java is best program'

In [207]:
a.split()

['Java', 'is', 'best', 'program']

In [208]:
a = 'a:b:c:d'
a.split(':')

['a', 'b', 'c', 'd']

In [209]:
phone = '010-1234-5678'
phone.split('-')

['010', '1234', '5678']

In [210]:
email = 'abcd@naver.com'
email.split('@')

['abcd', 'naver.com']

퀴즈

In [214]:
b = email.split('@')
b[1].split('.')
#1. ['naver', 'com']

['naver', 'com']

In [215]:
#2. letter = 'python'
letter = 'python'
print(letter[0], letter[2])
# p t

p t

In [216]:
# 3. string = '홀짝홀짝홀짝'
string = '홀짝홀짝홀짝'
print(string[::2])
#홀홀홀

홀홀홀

In [ ]:
#4. 표준입력장치로 사용자의 영문이름을 입력받아서 
# 성과 이름을 순서를 바꾸어 출력하는 프로그램을 작성
# 'hong gildong'
# 'gildong hong'

In [217]:
full_name = input('영문이름입력(성과 이름은 공백으로구분) :')

영문이름입력(성과 이름은 공백으로구분) :hong gildong

In [218]:
print(full_name)

hong gildong

In [219]:
full_name.split()

['hong', 'gildong']

In [220]:
space = full_name.find(' ')

In [221]:
print(space)

4

In [222]:
first_name = full_name[:space]
last_name = full_name[space+1:]
print(first_name)
print(last_name)

hong
gildong

In [223]:
# ['hong', 'gildong']
first_name2 = full_name.split()[0]
last_name2 = full_name.split()[1]
print(first_name2)
print(last_name2)

hong
gildong

In [224]:
full_name.capitalize()

'Hong gildong'

# 이스케이프문자

In [229]:
print('escape 문자 차단')
# 경로
print('path =', 'c:\python38\test')
print('path =', 'c:\\python38\\test')
print('path =', r'c:\python38\test\naver')

escape 문자 차단
path = c:\python38	est
path = c:\python38\test
path = c:\python38\test\naver

In [ ]:
# 1. 신씨가 소리질렀다."도둑이야"
# 2. c:\windows\naver\test
# 3. naver/kakao/sk/samsung
# 4. station = '신촌', door = '왼쪽'
#  이번역은 신촌역입니다. 내리실문은 왼쪽입니다.

In [230]:
print('신씨가 소리질렀다."도둑이야"')

신씨가 소리질렀다."도둑이야"

In [231]:
print("신씨가 소리질렀다.\"도둑이야\"")

신씨가 소리질렀다."도둑이야"

In [233]:
print(r'c:\windows\naver\test') #raw

c:\windows\naver\test

In [235]:
print('c:\\windows\\naver\\test')

c:\windows\naver\test

In [238]:
# naver/kakao/sk/samsung
print("naver", "kakao", "sk", "samsung", sep='/')

naver/kakao/sk/samsung

In [239]:
station = '신촌'
door = '왼쪽'
print(f'이번역은 {station}역입니다. 내리실문은 {door}입니다.')

이번역은 신촌역입니다. 내리실문은 왼쪽입니다.

In [240]:
print('이번역은' + station + '역입니다. 내리실문은' + door + '입니다.')

이번역은신촌역입니다. 내리실문은왼쪽입니다.