# pandas seires


*   panel datas 약자
*   항목 추가

In [386]:
import pandas as pd

In [387]:
data = pd.Series(dict(a=1, b=2, c=3))
print(data)
print(data.index)

a    1
b    2
c    3
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [388]:
list_data = ['2018-01-01', 3.14, 'abc', 100, True]
sr_list = pd.Series(list_data)
print(sr_list)

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [389]:
# 0,1,2, .. index 값을 pd의 index로 사용
idx = sr_list.index
val = sr_list.values
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2018-01-01' 3.14 'abc' 100 True]

In [390]:
# index 값 지정
tup_data = ('영인', '2010-05-01', '여', True)
tup_srie = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(tup_srie)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [391]:
# 원소선택 방식 2가지
# 1. 배열 이용
print(tup_srie[0])

# 2. index값 이용
print(tup_srie['이름'])

영인
영인

In [392]:
# 여러개 원소 선택 방식 2가지
# 1. 배열 사용, %주의: 여러개 뽑을때 리스트안에 리스트로
#print(tup_srie[[1,2]])
print(tup_srie[1])

# 2. 인덱스 사용, %주의: 여러개 뽑을때 리스트안에 리스트로
print(tup_srie[['생년월일', '성별']])

2010-05-01
생년월일    2010-05-01
성별               여
dtype: object

In [393]:
# 실습
# 1. series 만들기
data = pd.Series(dict(서울=9904312, 부산=3448737, 인천=2890451, 대구=2466052))
print(data)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [394]:
# 2. 인덱싱 만들기, 2가지
# 2.1 배열 사용
print(data[:2])
# 2.2 인덱스 사용
print(data[['서울','부산']])

서울    9904312
부산    3448737
dtype: int64
서울    9904312
부산    3448737
dtype: int64

In [395]:
# 3. 부산과 대구 인덱싱 2가지 방식
# 3.1 배열 사용
print(data[[1,3]])
# 3.2 인덱스 사용
print(data[['부산','대구']])

부산    3448737
대구    2466052
dtype: int64
부산    3448737
대구    2466052
dtype: int64

In [396]:
# seires 출력 예1
for key, value in data.items():
    print(f'key: {key}, value:{value}')

key: 서울, value:9904312
key: 부산, value:3448737
key: 인천, value:2890451
key: 대구, value:2466052

In [397]:
# series는 numpy  1차원 배열로 변환된다
data/100000

서울    99.04312
부산    34.48737
인천    28.90451
대구    24.66052
dtype: float64

In [398]:
# dict은 연산이 안됨
data1 = dict(서울=9999, 인천=9999)
#data1/1000

In [399]:
# seires 끼리 연산가능, 안겹치는 항목은 nan(np.nan, float) 반환
sr2 = pd.Series(dict(서울=9631482, 부산=3393191, 인천=2632035, 대전=1490158))
sr = pd.Series([9612482, 3342191, 2632235, 14534158],
                index=['서울', '부산', '인천', '대구'])

ds = sr - sr2

In [400]:
# 요소개수 count
sr.count()

4

In [401]:
# nan은 count 안함
ds.count()

3

In [402]:
# 카테고리 값의 개수를 세는 method
sr.value_counts()

9612482     1
3342191     1
2632235     1
14534158    1
dtype: int64

In [403]:
# 예시
!pip install seaborn   # 예제 data 불러오기 위해

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/dist-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.9/dist-packages (from seaborn) (3.5.3)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.4.4)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.10.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.22.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (4.39.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.15.0)

In [404]:
import seaborn as sns
iris = sns.load_dataset('iris')   # 붓꽃
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [405]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [406]:
iris['sepal_width'].value_counts()

3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.6     4
3.7     3
2.4     3
2.2     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: sepal_width, dtype: int64

In [407]:
# series 합, 평균
sr.sum(), sr.mean()

(30121066, 7530266.5)

In [408]:
# series sort, 정렬
sr.sort_values(ascending=True)   # ascending=True는 오름차순

인천     2632235
부산     3342191
서울     9612482
대구    14534158
dtype: int64

# Pandas dataframe

In [409]:
# 열이름: key, 리스트를 value로 갖는 dict 정의(2차원)

dict_data = dict(c0=[1,2,3], c1=[4,5,6], c2=[7,8,9], c3=[10,11,12], c4=[13,14,15])
df = pd.DataFrame(dict_data)
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [410]:
# 리스트에 행인덱스 열 이름을 지정하여 데이터 프레임 마들기
df = pd.DataFrame([[15,'남','신촌중'],[17,'여','연세중']], 
                  index=['준서','예은'], columns=['나이', '성별', '학교'])
df

    나이 성별   학교
준서  15  남  신촌중
예은  17  여  연세중

In [411]:
# 행 인덱스, 열이름 확인하기
print(df)
print(df.index)
print(df.columns)

    나이 성별   학교
준서  15  남  신촌중
예은  17  여  연세중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [412]:
# 인덱스 입력/수정하기
df.columns = ['연령', '남여', '소속']
df.index = ['학생1', '학생2']
df

     연령 남여   소속
학생1  15  남  신촌중
학생2  17  여  연세중

In [413]:
# 메소드를 사용해서 행과 열이름 변경
df = pd.DataFrame([[15,'남','신촌중'],[17,'여','연세중']], 
                  index=['준서','예은'], columns=['나이', '성별', '학교'])
df.rename(columns={'나이':'연령', '성별':'남여', '학교':'소속'}, inplace=True)  # inplace: True, 데이터 값 변경
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)  # inplace: True, 데이터 값 변경
df

     연령 남여   소속
학생1  15  남  신촌중
학생2  17  여  연세중

In [414]:
# 실습
data = dict(국어=[80,90,70,30], 영어=[90,70,60,40], 수학=[90,60,80,70])

# 행 index: 춘향, 몽룡, 향단, 방자
df = pd.DataFrame(data, index=['춘향', '몽룡', '향단', '방자'])
df

# 몽룡, 국어점수 추출
df['국어']['몽룡']
#df['몽룡']['국어']   # 열이름 먼저

90

In [415]:
# 4*3 data frame
# index: 'James', 'Maria', 'Brian', 'Alice'
# column: 'kor', 'eng', 'math'

import numpy as np
#np.random.seed(2023)   # 결과 비교하려면 시드 고정
data = np.random.randint(60,100,12).reshape(4,3)
ind_n = ['James', 'Maria', 'Brian', 'Alice']
col_n = ['kor', 'eng', 'math']
df = pd.DataFrame(data=data, index=ind_n, columns=col_n)
df

       kor  eng  math
James   82   89    82
Maria   77   67    67
Brian   81   91    74
Alice   94   65    67

In [416]:
# 간단하게 csv 만들기
%%writefile sample.csv
c1, c2, c3
1, 1.15, one
2, 2.23, two
3, 3.32, three

Overwriting sample.csv

In [417]:
# pd로 csv 읽기
import pandas as pd
data = pd.read_csv('sample.csv')
print(data)
df = pd.DataFrame(data)

   c1    c2      c3
0   1  1.15     one
1   2  2.23     two
2   3  3.32   three

In [418]:
# 행삭제
df2 = df[:]
df2.drop(1)

   c1    c2      c3
0   1  1.15     one
2   3  3.32   three

In [419]:
data = np.random.randint(60,100,12).reshape(4,3)
ind_n = ['James', 'Maria', 'Brian', 'Alice']
col_n = ['kor', 'eng', 'math']
df3 = pd.DataFrame(data=data, index=ind_n, columns=col_n)
df3

       kor  eng  math
James   63   94    88
Maria   92   65    71
Brian   63   79    91
Alice   87   74    75

In [420]:
df3.drop('Brian', inplace=True)
df3

       kor  eng  math
James   63   94    88
Maria   92   65    71
Alice   87   74    75

In [421]:
df3.drop(['James',"Alice"], axis=0, inplace=True)
df3

       kor  eng  math
Maria   92   65    71

In [422]:
# 열 삭제
data = np.random.randint(60,100,16).reshape(4,4)
ind_n = ['James', 'Maria', 'Brian', 'Alice']
col_n = ['kor', 'eng', 'math','music']
df4 = pd.DataFrame(data=data, index=ind_n, columns=col_n)
df4

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70

In [423]:
df5 = df4[:].copy()
df5

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70

In [424]:
df5.drop('math', axis=1, inplace=True)
df5

       kor  eng  music
James   96   95     82
Maria   93   91     89
Brian   84   71     99
Alice   75   72     70

In [425]:
df6 = df4.copy()
df6.drop(['eng','music'], axis=1, inplace=True)
df6

       kor  math
James   96    77
Maria   93    82
Brian   84    77
Alice   75    71

In [426]:
# select row, 행
# row index를 사용하여 행1개를 선택
print(df4)
# 1. 이름으로
mar1 = df4.loc['Maria']
print(mar1)

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70
kor      93
eng      91
math     82
music    89
Name: Maria, dtype: int64

In [427]:
# 배열로
mar2 = df4.iloc[1]
mar2

kor      93
eng      91
math     82
music    89
Name: Maria, dtype: int64

In [428]:
# 리스트 추출
label1 = df4.loc[['Brian',"Alice"]]
label1

       kor  eng  math  music
Brian   84   71    77     99
Alice   75   72    71     70

In [429]:
# 리스트 추출
labe2 = df4.iloc[[2,3]]
labe2

       kor  eng  math  music
Brian   84   71    77     99
Alice   75   72    71     70

In [430]:
# 값출 []
labe2 = df4.iloc[1,3]
labe2

89

In [431]:
# 슬라이싱 []
labe2 = df4.iloc[0:3]
labe2

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99

In [432]:
label2 = df4.loc[['Maria','Brian']]
label2
label3 = df4.loc['Maria':'Brian']
label3
#label5 = df4.loc['kor':'math']
#label5

       kor  eng  math  music
Maria   93   91    82     89
Brian   84   71    77     99

In [433]:
label4 = df4.iloc[1:]
label4

       kor  eng  math  music
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70

In [434]:
# select columns
math1 = df4['math']
print(math1)

James    77
Maria    82
Brian    77
Alice    71
Name: math, dtype: int64

In [435]:
# 이름으로 가져오기
english = df4.eng  # 하나 가져올때
english, type(english)

(James    95
 Maria    91
 Brian    71
 Alice    72
 Name: eng, dtype: int64, pandas.core.series.Series)

In [436]:
math_music = df4[['math','music']]
math_music

       math  music
James    77     82
Maria    82     89
Brian    77     99
Alice    71     70

In [437]:
math_music = df4.loc[:,'math':'music']
#math_music = df4.loc['James':'Brian',:]
math_music

       math  music
James    77     82
Maria    82     89
Brian    77     99
Alice    71     70

In [438]:
return_series = df4['math']
return_datafr = df4[['math']]
print(type(return_series))
print(type(return_datafr))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [439]:
# select element
df4

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70

In [440]:
df4.loc['Maria','music']  # loc[행,열]
#df4.iloc[1,3]

89

In [441]:
df4.loc['Maria', ['eng','math']]
#df4.iloc[1,[1,2]]

eng     91
math    82
Name: Maria, dtype: int64

In [442]:
df4

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70

In [443]:
# james의 영어, 수학, 음악
df4.loc["James",'eng':'music']

eng      95
math     77
music    82
Name: James, dtype: int64

In [444]:
# maria~alice, eng~music
df4.loc["Maria":"Alice",'eng':'music']

       eng  math  music
Maria   91    82     89
Brian   71    77     99
Alice   72    71     70

In [445]:
df4.iloc[1:,1:]

       eng  math  music
Maria   91    82     89
Brian   71    77     99
Alice   72    71     70

In [446]:
# 추가 add
df7 = df4[:].copy()
df7

       kor  eng  math  music
James   96   95    77     82
Maria   93   91    82     89
Brian   84   71    77     99
Alice   75   72    71     70

In [447]:
# 열추가
df7['gym'] = 90
df7

       kor  eng  math  music  gym
James   96   95    77     82   90
Maria   93   91    82     89   90
Brian   84   71    77     99   90
Alice   75   72    71     70   90

In [448]:
# 행추가
df7.loc[4] = 0
df7

       kor  eng  math  music  gym
James   96   95    77     82   90
Maria   93   91    82     89   90
Brian   84   71    77     99   90
Alice   75   72    71     70   90
4        0    0     0      0    0

In [449]:
df7.loc[4] = [90,70,60,50,40]
df7

       kor  eng  math  music  gym
James   96   95    77     82   90
Maria   93   91    82     89   90
Brian   84   71    77     99   90
Alice   75   72    71     70   90
4       90   70    60     50   40

In [450]:
# 중간에 끼어넣기
# 1. reindex
#df7 = df7.reindex(index=['원하는 순서 리스트'])

# 2. concat iloc
# pd.concat([df.iloc[:n], 끼어넣을 행, df.iloc[n:]], ignore_index=True)

In [451]:
# set_index 
data = dict(이름=['길동','철수','영희'],
            수학=[90,80,70],
            영어=[98,89,95],
            음악=[85,95,100],
            체육=[100,90,90])
data

{'이름': ['길동', '철수', '영희'],
 '수학': [90, 80, 70],
 '영어': [98, 89, 95],
 '음악': [85, 95, 100],
 '체육': [100, 90, 90]}

In [452]:
df = pd.DataFrame(data)
df

   이름  수학  영어   음악   체육
0  길동  90  98   85  100
1  철수  80  89   95   90
2  영희  70  95  100   90

In [453]:
# 이름을 인덱스로
df.set_index('이름', inplace=True)
df

    수학  영어   음악   체육
이름
길동  90  98   85  100
철수  80  89   95   90
영희  70  95  100   90

In [454]:
# 길동의 체육점수 수정
df.loc['길동','체육'] = 90
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89   95  90
영희  70  95  100  90

In [455]:
# 철수의 음악 체육을 50점으로
df.loc['철수',['음악','체육']] = 50
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89   50  50
영희  70  95  100  90

In [456]:
# 철수의 음악 체육을 100, 50으로 변경
df.loc['철수',['음악','체육']] = 100, 50
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89  100  50
영희  70  95  100  90

In [457]:
# 전치 transpose()
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89  100  50
영희  70  95  100  90

In [458]:
df.T  # 원래데이터가 변하지 않음

이름  길동   철수   영희
수학  90   80   70
영어  98   89   95
음악  85  100  100
체육  90   50   90

In [459]:
df = df.T
df

이름  길동   철수   영희
수학  90   80   70
영어  98   89   95
음악  85  100  100
체육  90   50   90

In [460]:
data = dict(이름=['길동','철수','영희'],
            수학=[90,80,70],
            영어=[98,89,95],
            음악=[85,95,100],
            체육=[100,90,90])
df = pd.DataFrame(data)
ndf = df.set_index('이름')
ndf = df.set_index(['수학','음악'])
ndf

        이름  영어   체육
수학 음악
90 85   길동  98  100
80 95   철수  89   90
70 100  영희  95   90

In [461]:
# reindex
dict_data = dict(c0=[1,2,3], c1=[4,5,6], c2=[7,8,9], c3=[10,11,12], c4=[13,14,15])
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [462]:
# index를 새로 지정해서 행 추가
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
ndf

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [463]:
# reindex로 발생한 NAN값을 0으로 채우기
#ndf.loc['r3':'r4'] = 0
ndf.reindex(new_index, fill_value=0)
ndf

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [464]:
# reset_index
ndf2 = ndf.reset_index()
ndf2

  index   c0   c1   c2    c3    c4
0    r0  1.0  4.0  7.0  10.0  13.0
1    r1  2.0  5.0  8.0  11.0  14.0
2    r2  3.0  6.0  9.0  12.0  15.0
3    r3  NaN  NaN  NaN   NaN   NaN
4    r4  NaN  NaN  NaN   NaN   NaN

In [465]:
# 내림차순으로 행 인덱스 정렬
ndf2 = ndf2.sort_index(ascending=False)
ndf2

  index   c0   c1   c2    c3    c4
4    r4  NaN  NaN  NaN   NaN   NaN
3    r3  NaN  NaN  NaN   NaN   NaN
2    r2  3.0  6.0  9.0  12.0  15.0
1    r1  2.0  5.0  8.0  11.0  14.0
0    r0  1.0  4.0  7.0  10.0  13.0

In [466]:
# c1 열을 기준으로 내림차순
ndf3 = ndf2.sort_values(by='c1', ascending=False)
ndf3

  index   c0   c1   c2    c3    c4
2    r2  3.0  6.0  9.0  12.0  15.0
1    r1  2.0  5.0  8.0  11.0  14.0
0    r0  1.0  4.0  7.0  10.0  13.0
4    r4  NaN  NaN  NaN   NaN   NaN
3    r3  NaN  NaN  NaN   NaN   NaN

In [467]:
# 시리즈 숫자계산
student1 = pd.Series(dict(국어=100, 영어=80, 수학=90))
student1

국어    100
영어     80
수학     90
dtype: int64

In [468]:
# 과목별로 점수를 200으로 나누기
percentage = student1 / 200
print(percentage)
print(type(percentage))

국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

In [469]:
student1 = pd.Series(dict(국어=100, 영어=80, 수학=90))
student2 = pd.Series(dict(국어=90, 영어=80, 수학=80))

In [470]:
# 두학생의 과목별 점수 사칙연산
add = student1 + student2
add1

국어    190
영어    160
수학    170
dtype: int64

In [471]:
sub = student1 - student2

In [472]:
mul = student1 * student2

In [473]:
div = student1 / student2

In [474]:
# 사칙연산 결과를 데이터 프레임으로 합치기
# 여러개 시리즈를 프레임으로
result = pd.DataFrame([add,sub,mul,div], index=['덧셈','뺄셈','곱셈','나눗셈'])
result

              국어      영어        수학
덧셈    190.000000   160.0   170.000
뺄셈     10.000000     0.0    10.000
곱셈   9000.000000  6400.0  7200.000
나눗셈     1.111111     1.0     1.125

In [476]:
# 결측이 있을시, nan값이 있는 곳은 연산이 안됨
student1 = pd.Series(dict(국어=np.nan, 영어=80, 수학=90))
student2 = pd.Series(dict(국어=90, 영어=80, 수학=80))

add2 = student1 + student2
sub2 = student1 - student2
mul2 = student1 * student2
div2 = student1 / student2

result = pd.DataFrame([add2,sub2,mul2,div2], index=['덧셈','뺄셈','곱셈','나눗셈'])
result

     국어      영어        수학
덧셈  NaN   160.0   170.000
뺄셈  NaN     0.0    10.000
곱셈  NaN  6400.0  7200.000
나눗셈 NaN     1.0     1.125

In [478]:
# 두학생의 과목별 점수 사칙연산(연산메소드 사용)
add3 = student1.add(student2, fill_value=0)
sub3 = student1.sub(student2, fill_value=0)
mul3 = student1.mul(student2, fill_value=0)
div3 = student1.div(student2, fill_value=0)
print(add3,sub3,mul3,div3)

국어     90.0
영어    160.0
수학    170.0
dtype: float64 국어   -90.0
영어     0.0
수학    10.0
dtype: float64 국어       0.0
영어    6400.0
수학    7200.0
dtype: float64 국어    0.000
영어    1.000
수학    1.125
dtype: float64

In [483]:
# 타이타딕 데이터셋
titanic = sns.load_dataset('titanic')
len(titanic)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [490]:
# age, fare 추출
data1 = titanic.loc[:,['age','fare']]
data1.head()
data1.tail()

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

In [492]:
# 사칙연산
data2 = data1 + 10 
data2

      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]

In [493]:
# 데이터프레임끼리 연산
data2 - data1

      age  fare
0    10.0  10.0
1    10.0  10.0
2    10.0  10.0
3    10.0  10.0
4    10.0  10.0
..    ...   ...
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

[891 rows x 2 columns]